body {
    background-color: #eeeeee;
    font-family: sans-serif;
    color: darkslategray;
    text-align: center;


}
input {
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    margin: 10px;
    border: none;
}
input:focus {
    border: gray ;
}
select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    text-align: center;
    color: darkslategray;
    margin: 10px;
}
select:focus {
    outline: none;
}
a {
    color: darkslategray;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 10px;
}
a:hover {
    color: lightslategray;
}
h1 {
    padding: 50px;
    font-size: 2rem;
}
h1 + p {
}
h2 {
    font-size: 1.5rem;
}
h2 + p {
    padding-bottom: 20px;
    border-bottom: dotted 2px lightgray;
}
h3 {
    font-size: 1rem;
}
.questionnaire {
    text-align: center;
}
.category {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    margin: 0 50px 10px;
}

button {
    margin: 30px 0;
    padding: 10px;
    background-color: darkslategray;
    border-radius: 5px;
    border: none;
    color: white;

}
button:hover {
    background-color: slategray;
}
.return {
    text-align: center;
    width: 100%;
}
